.tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.escaparate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}