[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"pep8" = "*"
"flake8" = "*"
pylama = "*"
mypy = "*"

[packages]
mkdocs = "*"
mkdocs-rtd-dropdown = "*"
mkdocs-material = "*"
mkdocs-windmill = "*"

[requires]
python_version = "3.7"
