<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <link rel="shortcut icon" href="../../../../../img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Principiante - Tips de Cristo</title>
    <link href="../../../../../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../../../../../css/font-awesome-4.7.0.css" rel="stylesheet">
    <link href="../../../../../css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../css/highlight.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../../../../../js/jquery-3.2.1.min.js"></script>
    <script src="../../../../../js/bootstrap-3.3.7.min.js"></script>
    <script src="../../../../../js/highlight.pack.js"></script>
    
    <base target="_top">
    <script>
      var base_url = '../../../../..';
      var is_top_frame = false;
        
        var pageToc = [
          {title: "Django Principiante", url: "#_top", children: [
              {title: "Crear proyecto Django", url: "#crear-proyecto-django" },
              {title: "Django CLI", url: "#django-cli" },
              {title: "Crear Proyecto", url: "#crear-proyecto" },
              {title: "Primera app -&gt; Core", url: "#primera-app-core" },
              {title: "Vistas", url: "#vistas" },
              {title: "Templates", url: "#templates" },
          ]},
          {title: "Application definition", url: "#application-definition", children: [
              {title: "Herencia", url: "#herencia" },
              {title: "Enlaces relativos", url: "#enlaces-relativos" },
              {title: "Cargas ficheros est\u00e1ticos (CSS, JS, img, media...)", url: "#cargas-ficheros-estaticos-css-js-img-media" },
              {title: "Templates tags", url: "#templates-tags" },
              {title: "Modelos", url: "#modelos" },
              {title: "Django Admin", url: "#django-admin" },
              {title: "Servir ficheros multimedia", url: "#servir-ficheros-multimedia" },
          ]},
          {title: "Media files", url: "#media-files", children: [
          ]},
        ];

    </script>
    <script src="../../../../../js/base.js"></script> 
</head>

<body>
<script>
if (is_top_frame) { $('body').addClass('wm-top-page'); }
</script>



<div class="container-fluid wm-page-content">
  <a name="_top"></a>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../django-intermedio/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../django-intermedio/" class="btn btn-xs btn-link">
        Intermedio
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../django/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../django/" class="btn btn-xs btn-link">
        Django
      </a>
    </div>
    
  </div>

    

    <h1 id="django-principiante">Django Principiante</h1>
<p>TODO</p>
<p>Vamos a ver como empezar con Django a través de un mini ejemplo.</p>
<h2 id="crear-proyecto-django">Crear proyecto Django</h2>
<p>Instalamos Django</p>
<pre><code class="bash">pip install django
</code></pre>

<h2 id="django-cli">Django CLI</h2>
<p>Django tiene un CLI (menu de comandos) llamado <code>django-admin</code> que es con el que se trabaja. Desde una terminal donde este Django instalado lo ejecutamos y salen todas las opciones que tiene</p>
<pre><code class="bash">django-admin
</code></pre>

<h2 id="crear-proyecto">Crear Proyecto</h2>
<p>Para crear nuestro primer proyecto hacemos</p>
<pre><code class="bash">django-admin startproject &lt;proyecto&gt;
</code></pre>

<p>Veremos que se ha generado una con la siguiente estructura (supongamos que he llamado al proyecto <code>miproyecto</code>):</p>
<ul>
<li>miproyecto -&gt; Proyecto Django<ul>
<li>miproyecto -&gt; App principal del proyecto, contiene configuracion inicial y despliegue.<ul>
<li><strong>init</strong>.py -&gt; Para inicializar el proyecto e indicar que es un paquete.</li>
<li>settings.py -&gt; Toda la configuración del proyecto Django.</li>
<li>urls.py -&gt; Punto de entrada de todas nuestras peticiones http (ver una web, consumir un webservice, etc).</li>
<li>wsgi.py -&gt; Encargado del despliegue (implementar el protocolo WSGI que usan todas las apps webs hechas en Python).</li>
</ul>
</li>
<li>manage.py -&gt; Script para gestionar el proyecto desde la terminal.</li>
</ul>
</li>
</ul>
<p>El otro CLI con el que cuenta Django es ese último fichero llamado <code>manage.py</code>. Si lo ejecutamos en la terminal tal cual, veremos todas las opciones que tiene (ordenadas ademas por temáticas). </p>
<h3 id="lanzar-servidor">Lanzar servidor</h3>
<p>Si ejecutamos ahora el comando</p>
<pre><code class="bash">python manage.py runserver
</code></pre>

<p>Veremos como ha arrancado un servidor de pruebas para poder ver desde el navegador (http://127.0.0.1:8000) nuestro proyecto Django. Para pararlo es tan fácil como usar Ctrl+C</p>
<h3 id="sincronizar-bbdd-migraciones">Sincronizar BBDD -&gt; Migraciones</h3>
<p>Una vez arrancado, necesitamos generar las bases de datos y demás. Paramos el servidor y hacemos</p>
<pre><code class="bash">python manage.py migrate
</code></pre>

<h2 id="primera-app-core">Primera app -&gt; Core</h2>
<p>Un proyecto Django está compuesto por muchas apps. Todas estas apps son independientes y pueden compartir recursos. Aparte de la app principal, la que se llama igual que el proyecto, se suele crear otra "central" llamada <strong>CORE</strong>.</p>
<p>Para crear una app se hace</p>
<pre><code class="bash">python manage.py startapp &lt;app&gt;
</code></pre>

<p>En este caso creamos <code>core</code>, y al hacerlo se crea una carpeta <code>core</code> con los siguientes ficheros:</p>
<ul>
<li>core<ul>
<li>migrations -&gt; Carpeta donde se guardan los cambios del modelo de la bbdd</li>
<li><strong>init</strong>.py -&gt; Definir paquete</li>
<li>admin.py -&gt; Fichero encargado de la configuracion de la app en el Django Admin</li>
<li>apps.py -&gt; Configuracion de la app.</li>
<li>models.py -&gt; Es donde se definen el modelo de la bbdd para la app.</li>
<li>tests.py -&gt; Fichero de pruebas.</li>
<li>views.py -&gt; Es donde se definen las Vistas (las funciones / clases que se ejecutan cuando se accede a una url).</li>
</ul>
</li>
</ul>
<h2 id="vistas">Vistas</h2>
<p>Cada vez que marca una url en el navegador, el proceso que sigue Django para ofrecer la web es el siguiente:</p>
<ol>
<li>Se entra al fichero <code>urls.py</code> de la app principal del proyecto (la que se llama como el propio proyecto).</li>
<li>En ese fichero se busca en que vista despacha esa url.<ol>
<li>Puede haber una vista definida.</li>
<li>Puede haber una redicción a otro fichero <code>urls.py</code> de la app encargada de despachar esa vista.</li>
</ol>
</li>
<li>Dentro del <code>urls.py</code> final se indica que vista del <code>views.py</code> de la app ejecuta.</li>
<li>En el <code>views.py</code> de la app se ejecuta la vista correspondiente y se devuelve la respuesta para el navegador.</li>
</ol>
<p>Existen 2 tipos de vistas:</p>
<ul>
<li>Function views -&gt; El encargado de generar la vista es una función.<ul>
<li>Son para vistas que apenas tienen operaciones, más simples.</li>
</ul>
</li>
<li>Class-based views -&gt; El encargado de generar la vista es una clase.<ul>
<li>Son para vistas mas complejas.</li>
<li>Son las más usadas.</li>
</ul>
</li>
</ul>
<h3 id="ejemplo-de-como-se-carga-una-vista-en-el-navegador">Ejemplo de como se carga una vista en el navegador</h3>
<p>Un ejemplo donde se pasa por <code>urls.py</code> de <strong>miproyecto</strong> que redirecciona al <code>urls.py</code> de <strong>core</strong> y despacha la function view <strong>home</strong>:</p>
<p>miproyecto -&gt; urls.py</p>
<pre><code class="python">from django.urls import path, include

urlpatterns = [
    # Path del core
    path('', include('core.urls')),
]
</code></pre>

<p>core -&gt; urls.py</p>
<pre><code class="python">from django.urls import path
from core import views

urlpatterns = [
    path('', views.home, name='home'),
]
</code></pre>

<p>core -&gt; views.py</p>
<pre><code class="python">from django.shortcuts import HttpResponse


def home(request):
    return HttpResponse('&lt;h1&gt;Vista home&lt;/h1&gt;')
</code></pre>

<h2 id="templates">Templates</h2>
<p>En el ejemplo anterior poníamos código HTML, <strong><em>a pelo</em></strong>, para generar las vistas. Esto no es ni óptimo ni escalable. Lo normal es usar plantillas HTML / templates, que son ficheros HTML que se van a usar para generar cada vista.</p>
<p>Para usar templates en una app hay que crear dentro de la app:</p>
<ol>
<li>Carpeta <strong>templates</strong>.</li>
<li>Dentro de esta otra carpeta que se llama igual que la app.</li>
</ol>
<p>Es decir que en <strong>core</strong> tendríamos</p>
<ul>
<li>miproyecto<ul>
<li>core<ul>
<li>templates<ul>
<li>core</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>Esto se hace así porque Django cuando se despliega el proyecto, busca todas las carpetas <strong>templates</strong> dentro de cada app y mete lo que haya dentro en una carpeta <strong>templates</strong> genérica para él.</p>
<p>Supongamos que hemos creado el fichero <strong>home.html</strong> en el directorio <strong>miproyecto/core/templates/core</strong>, la forma de despacharlo en <strong>views.py</strong> de <strong>core</strong> se hace:</p>
<ol>
<li>
<p>Poner la app <strong>core</strong> en el <code>settings.py</code> del proyecto Django</p>
<p>```python</p>
<h1 id="application-definition">Application definition</h1>
<p>INSTALLED_APPS = [
    'core.apps.CoreConfig',
    'portfolio.apps.PortfolioConfig',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
]
```</p>
</li>
<li>
<p>Modificar el <strong>views.py</strong> con</p>
<p>```python
from django.shortcuts import render</p>
<p>def home(request):
    # Template -&gt; fichero html para devolver
    template = 'core/home.html'
    # Context -&gt; diccionario con variables para el html
    context = {mivariable: 'Hola home'}
    return render(request, template, context)
```</p>
</li>
</ol>
<h3 id="herencia">Herencia</h3>
<p>La gracia de las plantillas es poder reutilizar código html. Lo normal es definir una plantilla base, <strong>base.html</strong>, o varias, y reusarla en las demás.</p>
<p>Creo un fichero <strong>base.html</strong></p>
<pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- Cabecera --&gt;
    {% block header %}{% endblock %}
    &lt;!-- Contenido --&gt;
    {% block content %}{% endblock %}
    &lt;!-- Pie de página --&gt;
    {% block footer %}{% endblock %}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Las partes que van entre <code>{% block &lt;bloque&gt; %}{% endblock %}</code>, serán las partes que se harán en cada fichero a parte. Todo lo demás es común.</p>
<p>Ahora en el <strong>home.html</strong> haríamos lo siguiente</p>
<pre><code class="html">{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
&lt;h1&gt;HOME&lt;/h1&gt;
{% endblock %}

{% block content %}
&lt;h2&gt;{{ mivariable }}&lt;/h2&gt;
{% endblock %}

{% block footer %}
&lt;p&gt;Footer de la home&lt;/p&gt;
{% endblock %}
</code></pre>

<ol>
<li>Extendemos la plantilla base</li>
<li>Generamos el contenido de cada bloque</li>
<li>Si se pasa alguna variable en el context de la vista, podemos ponerla con <code>{{ &lt;variable&gt; }}</code></li>
</ol>
<h3 id="enlaces-relativos">Enlaces relativos</h3>
<p>Si queremos enlazar entre secciones de nuestra web, la manera de hacerlo es usando</p>
<pre><code class="django">{% url &lt;vista&gt; %}
</code></pre>

<p>Por ejemplo <code>{% url 'home' %}</code>. El nombre de la vista, es decir, <code>&lt;vista&gt;</code> lo hemos definido en el <code>urls.py</code> anteriormente.</p>
<h3 id="cargas-ficheros-estaticos-css-js-img-media">Cargas ficheros estáticos (CSS, JS, img, media...)</h3>
<p>Para poder cargar los estilos, imágenes, scripts JS, etc, primero hay que crear una carpeta donde los contenga. Esta carpeta va a seguir el mismo princpio que la carpeta <strong>templates</strong>, pero se va a llamar <strong>static</strong>. Es decir, que dentro de cada app que tenga ficheros estáticos tendremos:</p>
<ul>
<li>&lt; proyecto-django &gt;<ul>
<li>&lt; app &gt;<ul>
<li>static<ul>
<li>&lt; app &gt;</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>Ya que luego Django recolectará todas las carpetas static en una <strong>static</strong> común. En nuestro ejemplo tendríamos <strong>miproyecto/core/static/core/</strong>.</p>
<p>Una vez hecho esto, lo siguiente será en el <strong>base.html</strong> y cada plantilla poner lo siguiente:</p>
<ol>
<li><code>{% load static %}</code><ul>
<li>Tanto en el <code>&lt;head&gt;&lt;/head&gt;</code> del <code>base.html</code>.</li>
<li>Como en cada plantilla, <strong>solo se debe poner una vez</strong>:<ul>
<li>Puede ser al principio, despues del <code>{% entends '&lt;app&gt;/base.html' %}</code>.</li>
<li>Como dentro de un <code>{% block &lt;bloque&gt; %}{% endblock %}</code>.</li>
</ul>
</li>
</ul>
</li>
<li>Luego en cada enlace hacia el fichero estático, ponemos <code>"{% static '&lt;app&gt;/&lt;path-al-estatico&gt;' %}"</code>.</li>
</ol>
<p>Un ejemplo podría ser</p>
<pre><code class="html">&lt;head&gt;
  &lt;!-- Estilos y fuentes --&gt;
  {% load static %}
  &lt;link href=&quot;{% static 'core/bootstrap/css/bootstrap.min.css' %}&quot; rel=&quot;stylesheet&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;script src=&quot;{% static 'core/jquery/jquery.min.js' %}&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
</code></pre>

<h3 id="templates-tags">Templates tags</h3>
<p>Dentro de este sistema de plantillas lo que hemos estado usando se llaman Template Tags -&gt; información oficial <a href="https://docs.djangoproject.com/en/2.1/ref/templates/builtins/">aquí</a></p>
<p>Existen muchos, como por ejemplo el <code>{% block &lt;bloque&gt; %}{% endblock %}</code>, o cuando queremos referirnos a una variable del contexto que usamos <code>{{ variable }}</code>.</p>
<p>Django permite muchos y muy diversos, como por ejemplo el típico <code>if</code>, <code>for</code>, y demás. También hay una variable de la propia web que es <code>request</code> y esta a su vez contiene más variables e información, como <code>request.path</code>, que indica en que path tenemos en la url.</p>
<p>Por ejemplo, supongamos que queremos ver un salto de línea en cierto sitio, si y solo si, si estoy en la home. La forma de hacerlo sería, en el <code>&lt;body&gt;</code> del <code>base.html</code>:</p>
<pre><code class="html">{% if request.path != &quot;/home/&quot; %}&lt;hr&gt;{% endif %}
</code></pre>

<h2 id="modelos">Modelos</h2>
<p>Django cuenta con su propio ORM para trabajar con las BBDD y trabaja siguiendo el paradigma MVT (Modelo Vista Template). Cada modelo es una clase heredará de una clase Modelo especifica.</p>
<p>Por ejemplo supongamos que queremos tener una sección que va a ser un proyecto, y cada proyecto contiene un título, una descripción y una imagen. Esto lo modelaríamos en bbdd de la siguiente manera</p>
<pre><code class="python">from django.db import models


class Project(models.Model):
    title = models.CharField(max_length=200)
    description = models.TextField()
    image = models.ImageField()
    link = models.UrlField(null=True, blank=True)  # null para permitir nulo en bbdd, blank para permitir vacío en html
    created = models.DateTimeField(auto_now_add=True)
    updated = models.DateTimeField(auto_now=True)

</code></pre>

<p>Se han añadido dos campos para poder tener un control de cuando se creó, <code>created</code>, y cuando se ha actualizado, <code>updated</code>.</p>
<p>Para aplicar estos cambios a la bbdd tenemos que hacer</p>
<pre><code class="bash">python manage.py makemigrations [&lt;app&gt;]
</code></pre>

<p>Si queremos ponemos la app especifica, o sino no ponemos nada y hará todas las apps. Después de hacer las migraciones, tenemos que aplicarlas, para ello</p>
<pre><code class="bash">python manage.py migrate [&lt;app&gt;]
</code></pre>

<h2 id="django-admin">Django Admin</h2>
<p>En el <code>urls.py</code> del proyecto tenemos una redirección a una cosa llamada admin</p>
<pre><code class="python">path('admin/', admin.site.urls),
</code></pre>

<p>Si en el navegador lo abrimos, veremos que sale un login. Esto es una herramienta potentísima que tiene Django, el <strong><em>Panel de Administrador</em></strong>.</p>
<h3 id="crear-superusuario">Crear superusuario</h3>
<p>Para poder acceder a él necesitamos crear primero el superusuario del proyecto</p>
<pre><code class="bash">python manage.py createsuperuser
</code></pre>

<p>Completamos el registro y volvemos a acceder al Django Admin con este usuario nuevo creado.</p>
<h3 id="habilitar-modelo">Habilitar Modelo</h3>
<p>Para poder trabajar con un modelo de una app debemos hacer lo siguiente en el fichero <code>admin.py</code> de la app correspondiente. Por ejemplo para el /miproyecto/core/admin.py tengo que poner</p>
<pre><code class="python">from django.contrib import admin
from .models import Project

admin.site.register(Project)
</code></pre>

<p>Ahora podremos manipular el modelo desde el Admin.</p>
<h3 id="tunear-el-admin">Tunear el Admin</h3>
<h4 id="cambiar-nombre-de-la-app">Cambiar nombre de la app</h4>
<p>En el fichero <code>apps.py</code> de la app, debemos de añadir el campo <code>verbose_name</code> con el nombre que queramos. Por ejemplo a la app core la voy a llamar principal, así que el /miproyecto/core/apps.py debe quedar así</p>
<pre><code class="python">from django.apps import AppConfig


class CoreConfig(AppConfig):
    name = 'core'
    vebose_name = 'Principal'

</code></pre>

<p>Recordemos que en el /miproyecto/miproyecto/settings.py en la parte de apps instaladas debe aparecer</p>
<pre><code class="python">INSTALLED_APPS = [
    'core.apps.CoreConfig',
    ...
]
</code></pre>

<h4 id="cambiar-nombre-del-modelo">Cambiar nombre del modelo</h4>
<p>Dentro de la clase del modelo, debemos crear una subclase llamada <code>Meta</code> (para metadata) y debe contener el atributo <code>verbose_name</code>.</p>
<p>Si queremos que luego cada objeto de ese modelo tenga un nombre más fácil de leer, debemos añadir el método <code>__str__</code> a la clase del modelo.</p>
<p>Por último, para que cada campo aparezca con el nombre que queramos, le añadimos el parámetro <code>verbose_name</code> a cada campo del modelo.</p>
<p>Siguiendo con el ejemplo, en /miproyecto/core/models.py pondremos al modelo <code>Project</code> el nombre <code>Proyecto</code>. Además le vamos a añadir el plural, y vamos a permitir que se ordene por fecha de creación más nueva a más vieja (con <code>-created</code>, si hubieramos puesto solo <code>created</code> sería de más antiguo al más nuevo). Para el nombre de cada proyecto le vamos a poner su título:</p>
<pre><code class="python">from django.db import models


class Project(models.Model):
    title = models.CharField(max_length=200, verbose_name='Titulo')
    description = models.TextField(verbose_name='Descripción')
    image = models.ImageField(verbose_name='Imagen')
    created = models.DateTimeField(auto_now_add=True, verbose_name='Creado')
    updated = models.DateTimeField(auto_now=True, verbose_name='Actualizado')

    class Meta:
        verbose_name = 'proyecto'
        verbose_name_plural = 'proyectos'
        ordering = ['-created']

    def __str__(self):
        return self.title

</code></pre>

<p>Los campos <code>created</code> y <code>updated</code> Django los oculta por defecto, ya que son de solo lectura. Para hacer que aparecan debemos de</p>
<ul>
<li>Modificar el <code>admin.py</code> de la app<ul>
<li>Creando un modelo extendido para el Admin<ul>
<li>Pasándole una tupla con los campos de solo lectura.</li>
</ul>
</li>
<li>Añadiendo el modelo extendido al admin.</li>
</ul>
</li>
</ul>
<p>/miproyecto/<app>/admin.py</p>
<pre><code class="python">from django.contrib import admin
from .models import &lt;Modelo&gt;


class &lt;Modelo&gt;Admin(admin.ModelAdmin):
    readonly_fields = ('&lt;campo1&gt;', '&lt;campo2&gt;')


admin.site.register(&lt;Modelo&gt;, &lt;Modelo&gt;Admin)

</code></pre>

<p>Lo vemos más fácil con el ejemplo que estamos haciendo, el /miproyecto/core/admin.py tiene que quedar así</p>
<pre><code class="python">from django.contrib import admin
from .models import Project


class ProjectAdmin(admin.ModelAdmin):
    readonly_fields = ('created', 'updated')


admin.site.register(Project, ProjectAdmin)

</code></pre>

<h2 id="servir-ficheros-multimedia">Servir ficheros multimedia</h2>
<p>Django por defecto no puede servir ficheros multimedia (imágenes, vídeos, etc). Los pasos para habilitarlos son</p>
<ol>
<li>Crear una carpeta común llamada <code>media</code> por ejemplo, y estaría al mismo nivel que las apps, es decir <proyecto>/media.</li>
<li>
<p>En el <code>settings.py</code> (<proyecto>/<proyecto>/settings.py) del proyecto debemos de indicarle donde está la carpeta de estos archivos con</p>
<p>```python</p>
<h1 id="media-files">Media files</h1>
<p>MEDIA_URL = '/media/'  # Ruta del navegador para encontrarlos
MEDIA_ROOT = os.path.join(BASE_DIR, 'media')  # Ruta para encontrarlos dentro del Django
```</p>
</li>
<li>
<p>Si en el modelo tenemos algún formulario donde los usuarios pueden subir este tipo de ficheros, debemos añadirle el parámetro <code>upload_to</code> con el nombre del directorio que tendrá dentro de la carpeta <code>media</code>
   Por ejemplo en el /miproyecto/core/models.py hacemos que las imágenes de los proyectos las guarde en la carpeta /miproyecto/media/projects que Django generará automáticamente con</p>
<p>```python
class Project(models.Model):
    ...
    image = models.ImageField(verbose_name='Imagen', upload_to='projects')</p>
</li>
</ol>
<pre><code>
4. Ahora tenemos que habilitar una url para el directorio `media`, pero que solo sea accesible cuando estamos en modo `debug`.
    1. Modificar el `urls.py` del proyecto (&lt;proyecto&gt;/&lt;proyecto&gt;/urls.py) con

    ```python
    from django.conf import settings

    urlpatterns = [...]

    if settings.DEBUG:
        from django.conf.urls.static import static
        urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)

    ```

## MVT Modelo-Vista-Template

Django se basa en el paradigma MVT, que está basado en el MVC (Modelo-Vista-Controlador). Estos paradigmas indican básicamente como es el flujo de trabajo y a la vez permiten desacoplar las distintas partes del proyecto. Es un poco lioso al principio si vienes del MVC.

En el MVC tienes:

* Modelo -&gt; Como está creada y almacenada la información (BBDD).
* Vista -&gt; Es la parte encargada de la interfaz visual (Frontend).
* Controlador -&gt; Como se manipula y trabaja con la información detrás de la interfaz (Backend).

En el MVT hay:

* Modelo -&gt; Igual que el anterior (BBDD).
* Vista -&gt; Equivale en realidad al Controlador (Backend).
    * Por eso decía que es lioso, porque al Controlador en Django se le llama Vista.
    * Y a la Vista se le llama Template.
* Template -&gt; Equivale a la Vista (Frontend).

Hay que tener en cuenta que **MVT define el flujo de desarrollo**. En el MVT nosotros desarrollamos siguiendo estos pasos:

1. MODELO
    * `models.py` -&gt; Creamos / modificamos el Modelo (BBDD).
    * `admin.py` -&gt; Habilitamos las opciones que sean necesarias en el Admin.
2. VISTA
    * `views.py` -&gt; Creamos / modificamos la Vista (Backend).
    * `urls.py` -&gt; Habilitamos el acceso a través de la web a esa vista.
3. TEMPLATE
    * `templates/&lt;app&gt;/` -&gt; Creamos / modificamos la Template (Frontend).
    * `static/&lt;app&gt;/` -&gt; Creamos / modificamos los estáticos (CSS's, JS's).

**NOTA**: Un **mnemónico** para recordar esto es **MAVUTS** -&gt; Models.py Admin.py Views.py Urls.py Templates Static.

Pero el flujo que sigue Django para servir una web en un enlace concreto es:

1. El navegador hace una petición a una url concreta.
2. Eso entra por el `urls.py` del proyecto y se redirecciona hasta llegar al `urls.py` de la app concreta.
3. De ahí se pasa a la vista, `views.py`.
4. El `views.py` interactua con la bbdd gracias al `models.py`.
5. Después computar toda la info, devuelve la template específica, `&lt;app&gt;/templates/&lt;app&gt;/&lt;vista&gt;.html`, ya formateada (con los tags sustituidos por su valor final).
6. El navegador renderiza el fichero y sirve la web.

### Ejemplo práctico

Para que tu editor no te de problemas, se recomienda instalar el linter `pylint-django`. Para activarlo hay que hacer:

* Editar los `pylintArgs` con
    * `--errors-only`
    * `--load-plugins`
    * `pytlint_django`

Supongamos que vamos a querer tener una sección portfolio en esta web, llena de los proyectos. Lo primero será crear la app portfolio

```bash
python manage.py startapp portfolio
</code></pre>

<ol>
<li>
<p>Tendremos nuestra nueva app portfolio junto con <code>core</code> y <code>miproyecto</code>. Una vez creada, damos de alta la app en el <code>settings.py</code> del proyecto</p>
<p><code>python
INSTALLED_APPS = [
    'portfolio.apps.PortfolioConfig',
]</code></p>
</li>
<li>
<p>Modelo -&gt; <code>models.py</code>:</p>
<ul>
<li>Quitamos <code>Projects</code> del modelo de <code>core</code> (en su <code>models.py</code>) y nos lo llevamos al <code>models.py</code> de <code>portfolio</code>.</li>
<li>Hacemos las migraciones en la base de datos con</li>
</ul>
<p><code>bash
python manage.py makemigrations
python manage.py migrate</code></p>
</li>
<li>
<p>Admin -&gt; <code>admin.py</code>:</p>
<ul>
<li>Quitamos el <code>Projects</code> de <code>core</code> del Admin en su <code>admin.py</code>.</li>
<li>Damos de alta <code>Projects</code> de <code>portfolio</code> en el Admin con su <code>admin.py</code>.</li>
</ul>
</li>
<li>
<p>Vista -&gt; <code>views.py</code>:</p>
<ul>
<li>Creamos la vista <code>portfolio</code> en el <code>views.py</code>.</li>
<li>Podemmos usar el modelo en la vista de la siguiente manera</li>
</ul>
<p>```python
from django.shortcuts import render
from .models import Project</p>
<p>def portfolio(request):
    template = 'portfolio/portfolio.html'
    projects = Project.objects.all()
    context = {'projects': projects}
    return render(request, template, context)</p>
<p>```</p>
</li>
<li>
<p>Urls -&gt; <code>urls.py</code>:</p>
<ul>
<li>En el <code>urls.py</code> del proyecto redireccionamos al <code>urls.py</code> de <code>portfolio</code></li>
</ul>
<p>```python
from django.urls import path, include</p>
<p>urlpatterns = [
    path('portfolio/', include('portfolio.urls')),
]
```</p>
<ul>
<li>En el <code>urls.py</code> de <code>portfolio</code> enlazamos la vista creada.</li>
</ul>
<p>```python
from django.urls import path
from . import views</p>
<p>urlpatterns = [
    path('', views.portfolio, name='portfolio'),
]
```</p>
</li>
<li>
<p>Template -&gt; <code>miproyecto/portfolio/templates/portfolio/&lt;plantilla&gt;.html</code></p>
<ul>
<li>Creamos el template <code>miproyecto/portfolio/templates/portfolio/portfolio.html</code>.</li>
<li>Dentro de esta template, heredamos del <code>base.html</code> del <code>templates</code> de <code>core</code>.</li>
<li>Un ejemplo de como podríamos usar el modelo dentro de la plantilla podria ser un template-tag <code>{% for %}</code>, ya que le hemos pasado todos los proyectos.</li>
</ul>
<p><code>html
{% extends 'core/base.html' %}
{% load static %}
{% block title%}Portfolio{% endblock%}
...
{% block content%}
&lt;ul&gt;
    {% for project in projects %}
    &lt;li&gt;
        Título: {{project.title}}
        Descripción: {{project.description}}
        Imagen: {{project.image.url}}
    &lt;/li&gt;
    {% endfor %}
&lt;/ul&gt;
{% endblock }</code></p>
</li>
<li>
<p>Static -&gt; <code>miproyecto/portfolio/static/portfolio/&lt;archivos&gt;</code></p>
<ul>
<li>si necesito cualquier estático lo uso en <code>portfolio.html</code> con</li>
</ul>
<p><code>html
{% static 'portfolio/&lt;fichero-estatico&gt;' %}</code></p>
</li>
</ol>

  <br>
    

    
    
      
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="../django-intermedio/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="../django-intermedio/" class="btn btn-xs btn-link">
        Intermedio
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="../django/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="../django/" class="btn btn-xs btn-link">
        Django
      </a>
    </div>
    
  </div>

    <br>
</div>

<footer class="col-md-12 wm-page-content">
  <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a> using <a href="https://github.com/gristlabs/mkdocs-windmill">Windmill</a> theme by Grist Labs.</p>
</footer>

</body>
</html>